.body{
    position: relative;
    background-color: #d7d7d7;
    width:100vh;
    height: 100vh;
}

.navBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #202020;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navButton {
    width: 180px;
    display: inline-block;
    height: 50px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    padding: 5px 10px;
    color: white;
    font-family: Arial;
    display: flex;
    display: flex;
    align-items: center;
    
}

.navButton:hover {
    background-color: #999;
}

.copyRight{
    margin: 0;
    position: absolute;
    bottom: 45px;
    color:grey;
    font-size: small;
    
}
.fa-solid{
    padding-right: 10px;
    color: #9c9fa0;
}

.logo{
    width: 200px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.allCourseContainer {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 1220px;
    columns: 6;
    column-gap: 10px;
    
}

.coursesContent{
    break-inside: avoid-column;
    width:100%;
    margin-right: 10px;
    margin-left: 10px;
    height:max-content;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    margin: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.specificCourses{
    color:black;
    text-decoration: none;
    font-family: Arial;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 3px;
}

.specificCourses:hover{
    background-color: white;
    color:#999;
}

.fullSubjectDisplay{
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom:5px;
    color: black;
    font-family: Arial;
    font-weight: bold;
}

.titleOfPage{
    position: relative;
    left: 260px;
    color:black;
    font-family: Arial;
    font-weight: bold;  
    font-size: 30px;
}

.subjectContainer{
    position: relative;
    left: 250px;
    width: 1260px;
    height: 725px;
    display: flex;
    flex-direction: column;
}

.titleOfSubject{
    position: relative;
    color:black;
    font-family: Arial;
    font-weight: bold;  
    font-size: 30px;
}

.unitDisplay{
    margin-right:10px;
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    height:max-content;
    width: max-content;
    padding:20px;
    background-color: white;
    border-radius: 10px;
}

.unitDisplay:hover{
    background-color: #9c9fa0;
}

.unitTitle{
    color:black;
    font-family: Arial;
    font-weight: bold;
    height:max-content;
    width: max-content;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.lectureVideo{
    width:1000px;
    height:700px;
    border-radius: 10px;
}
.lectureVideoContainer{
    border-radius: 10px;
    height: max-content;
    width: max-content;
    padding: 10px;
    background-color: white;
}

.dashboardContainer{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 1240px;
    display: flex;
    
}

.calendarContainer{
    display:flex;
    flex-direction: column;
    width:420px;
    position:absolute;
    height:100vh;
}

.statContainer{
    display:flex;
    width:820px;
    height:100vh;
    position:absolute;
}

.rating{
    position:absolute;
    top: 90px;
    left: 0px;
    border-radius: 10px;
    width: 260px;
    height: 90px;
    background-color: white;
}
.activeTasks{
    margin-left: 10px;
    position:absolute;
    top: 90px;
    /* right: 157px; */
    left: 260px;
    border-radius: 10px;
    width: 260px;
    height: 90px;
    background-color: white;
}
.notification{
    background-color: black;
    margin-left: 10px;
    position:absolute;
    top: 90px;
    left: 530px;
    border-radius: 10px;
    width: 300px;
    height: 90px;
}

.thingThatsaysDashboard{
    color:black;
    font-family: Arial;
    font-weight: bold;  
    font-size: 30px;
}
.profileImage{
    position:absolute;
    top:30px;
    right:10px;
    border-radius: 50%;
    width:40px;
    height:40px;
    
}
.weeklyReport{
    position: absolute;
    top:190px;
    width: 530px;
    height:300px;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.activityReport{
    position: absolute;
    top:190px;
    left: 540px;
    width: 300px;
    height:300px;
    border-radius: 10px;
    border: 1px solid darkgray;
}
.myCourses{
    position:absolute;
    top:500px;
    width: 840px;
    height: 220px;
    background-color: white;
    border-radius: 10px;
}
.calendar{
    position: absolute;
    left:850px;
    top:30px;
    height: 460px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid darkgray;
}
.newUpdate{
    position: absolute;
    left:850px;
    top:500px;
    height: 220px;
    width: 400px;
    border-radius: 10px;
    background-color: black;
}

.loginButton {
    position: absolute;
    top: 30px;
    left: 740px;
    text-decoration: none;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: Arial;
    font-weight: bold;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}

.loginButton:hover{
    background-color: white;
    color:gray;
}