{% extends "navigationBar.html" %}

{% block body %}
    <div class="subjectContainer">
        <p class="titleOfSubject">{{ courseTitle }}</p>
        <div class="unitContainer">
            <form method="get" action="">
                
                {% for item in SubList %}
                <button class="unitDisplay" type="submit" name="button_text" value="{{ forloop.counter }}">
                    Unit{{ forloop.counter }}
                </button>
                {% endfor %}
            </form>
        </div>
        
        <p class="unitTitle">
            Unit{{unitNumber}}: {{ subTitle }}
        </p>
        <div class="lectureVideoContainer">
            <iframe class="lectureVideo" src="{{ yt_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
    </div>
    
{% endblock %}